*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e6e6e6;
}

header, .main, footer{
    max-width: 90%;
    margin: 20px auto;
    
}
header div{
    background-color:#e6e6e6;
}
header nav{
    background-color: aqua;
    overflow: hidden;
    padding: 20px;
}
header nav li{
    list-style: none;
}
header nav ul li{
    float: left;
    padding-left: 30px;

}

header nav ul li:hover{
    color: green
}
.main .articles{
    
    width: 70%;
    float: left;
}
.main .articles article{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
aside{
    width: 30%;
    background-color:rgb(255, 72, 16);
    color: white;
    float:left;
    padding: 20px;
    box-sizing: border-box;
}

footer{
    padding: 20px;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
}
